# Add pre-built tool aliases to the path.
# Ideally we could accomplish the same thing with simple `alias` directives,
# but `direnv` only supports changing environment variables:
# https://github.com/direnv/direnv/issues/73.
PATH_add .bin
