# https://pypi.org/project/protobuf/
protobuf==5.28.3
# https://pypi.org/project/grpcio/
grpcio==1.67.1
# https://pypi.org/project/grpcio-tools/
grpcio-tools==1.67.1
# https://pypi.org/project/grpcio-reflection/
grpcio-reflection==1.67.1
