[Unit]
Description=Vimana Work Runtime Service
Requires=containerd.service
After=containerd.service

[Service]
Type=exec
ExecStart=vimanad

[Install]
WantedBy=multi-user.target
