# Injected, along with the `vimanad` binary, into a Kicbase image
# to enable Vimana in minikube.

[Unit]
Description=Vimana Work Runtime Service
Requires=containerd.service
After=containerd.service

[Service]
Type=exec
# The config file is populated by Minikube with insecure registries.
ExecStart=vimanad --config=/etc/vimana/config.json

[Install]
WantedBy=multi-user.target
