# Injected, along with the `workd` binary, into a Kicbase image
# to enable Vimana in minikube.

[Unit]
Description=Vimana Work Runtime Service
Requires=containerd.service
After=containerd.service

[Service]
Type=exec
# The config file should be populated by Minikube with insecure registries.
ExecStart=workd --insecure-registries=host.minikube.internal:5000

[Install]
WantedBy=multi-user.target
