# Injected, along with the `workd` binary, into a Kicbase image
# to enable Vimana in minikube.

[Unit]
Description=Vimana Work Runtime Service
Requires=containerd.service
After=containerd.service

[Service]
Type=exec
ExecStart=workd --incoming=/run/vimana/workd.sock --downstream=/run/containerd/containerd.sock --ipam-plugin=/opt/cni/bin/host-local --network-interface=eth0 --pod-ips=10.1.0.0/16

[Install]
WantedBy=multi-user.target
