name: CLA Assistant
on:
  issue_comment:
    types:
      - created
  pull_request_target:
    types:
      - opened
      - closed
      - synchronize

permissions:
  # Start, stop, etc. other actions.
  actions: write
  # Read the contents of the repository.
  contents: read
  # Edit pull requests (i.e. commenting on the triggering PR).
  pull-requests: write
  # Create and read commit statuses.
  statuses: write

jobs:
  cla-assistant:
    runs-on: ubuntu-latest
    steps:
      - name: Assist with the CLA
        if: github.event.comment.body == 'recheck' || contains(github.event.comment.body, 'I have read the CLA document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # This token is required to store the signatures in a remote repository.
          # It should have read/write access to remote repository contents.
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_ASSISTANT_LITE_PAT }}
        with:
          # URL of the agreement text.
          path-to-document: 'https://vimana-cloud.github.io/agreements/cla-1.0/'
          # Organization and name of the remote repository that hosts the signatures on GitHub.
          remote-organization-name: vimana-cloud
          remote-repository-name: agreements
          # Branch of the remote repository in which to push signatures.
          branch: main
          # Path to the file within the remote repository in which to store signatures.
          path-to-signatures: 'cla-1.0/signatures.json'
          # Comma-separated list of users (or bots) that don't have to sign anything.
          allowlist: ouillie
          # Commit message in remote repository when creating non-pre-existing signature file.
          create-file-commit-message: 'Create signature file'
          # Commit message in remote repository when a contributor has signed the agreement.
          signed-commit-message: '$contributorName signed the agreement in ${{ github.repository }}#${{ github.event.pull_request.number || github.event.issue.number }}'
          # Introductory message explaining the need to sign the agreement to those who have not yet signed.
          #custom-notsigned-prcomment
          # The magic comment required by the submitter in order to sign the agreement.
          custom-pr-sign-comment: 'I have read the CLA document and I hereby sign the CLA'
          # Pull request comment when all contributors have signed.
          custom-allsigned-prcomment: 'All contributors have signed the CLA.'
          # Do not automatically lock the pull request after merging (default - true).
          lock-pullrequest-aftermerge: false

