name: Unit Tests
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    # The CI environment provides access to the `REMOTE_BUILDS_CREDENTIALS` secret.
    environment: CI
    # The tests under `//runtime/tests` use Bazel's `requires-fakeroot` tag,
    # which enables them to manage IP addresses on the loopback network device.
    # That tag is only available for `linux-sandbox`:
    # https://bazel.build/reference/be/common-definitions#common-attributes.
    # However, GitHub Actions normally run in a VM,
    # and Bazel falls back on the simpler `processwrapper-sandbox` in that environment:
    # https://bazel.build/docs/sandboxing#sandboxing-strategies.
    # That means the tests will not run with root privileges
    # and will be unable to manage IP addresses.
    #
    # Work around this by running in the container as root, with explicit `NET_ADMIN` privileges.
    container:
      image: gcr.io/bazel-public/bazel:latest
      env:
        REMOTE_BUILDS_CREDENTIALS: ${{ secrets.REMOTE_BUILDS_CREDENTIALS }}
      options: --user=0 --cap-add=NET_ADMIN
    # Running inside a container uses the Bourne shell be default. Use Bash instead.
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Build everything
        run: |
          # Store the credentials necessary to write to the remote build cache
          # in a file that can be used for both building and testing.
          printf '%s' "$REMOTE_BUILDS_CREDENTIALS" > '.remote-build-credentials.json'

          bazel build \
            --remote_cache='https://storage.googleapis.com/vimana-remote-builds-public' \
            --google_credentials='.remote-build-credentials.json' \
            -- //...

      - name: Run tests
        id: run-tests
        run: |
          # Store the absolute path to the Bazel testlogs as an output parameter
          # so it can be uploaded as an artifact in case of failure.
          echo "bazel-testlogs=$(bazel info bazel-testlogs)" >> "$GITHUB_OUTPUT"

          # Run all tests except for the ones located under `e2e/`.
          bazel test \
            --cache_test_results=no \
            --remote_cache='https://storage.googleapis.com/vimana-remote-builds-public' \
            --google_credentials='.remote-build-credentials.json' \
            -- //... -//e2e/...

      - name: Upload test logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: bazel-testlogs
          path: ${{ steps.run-tests.outputs.bazel-testlogs }}
